<html>
<head>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="https://unpkg.com/chart.js@2.8.0/dist/Chart.bundle.js"></script>
<script src="https://unpkg.com/chartjs-gauge@0.3.0/dist/chartjs-gauge.js"></script>
  
</head>
<body>

<h1>Monitoring Sytem</h1></h1>

<a href="{{url_for("index")}}" class ="button" >Line Graphs</a>
<a href="{{url_for("gauge")}}" class ="button2" >Gauge Graphs</a>
<a href="{{url_for("table")}}" class ="button3" >Information Table</a>
<a href="{{url_for("plant_height")}}" class ="button4" >Plant Height</a>

<img class= "img1" src="/static/result_images/crop1.png"></img>
<img class = "img2" src="/static/processed_images/crop.png"></img>

</body>
</html>

<style>
.button{
position:absolute;
top:2%;
left:15%;
z-index:30;
}

.button2{
position:absolute;
top:2%;
left:40%;
z-index:30;
}

.button3{
position:absolute;
top:2%;
left:65%;
z-index:30;
}
.button4{
position:absolute;
top:2%;
left:90%;
z-index:30;
}
.img1{
  position:absolute;
  left:1%;
  top:10%;
width:50%;
height:90%;
z-index:1;  
}

.img2{
position:absolute;
top:10%;
left:38%;
width:60%;
height:90%;
z-index:0;
</style>
